body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  margin: 20px;
  border: 1px solid #E7E7E7;
  border-bottom: 0;
  border-radius: 10px;
}

.form {
  padding: 20px 60px;
}

.form__header {
  border-bottom: 2px solid rgba(19,147,246,.2);
  color: #1393f6;
  font-style: italic;
  margin: 0 0 30px;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

.form__header h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  margin: 0;
}

.form__header small {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.form__item {
  margin-top: 10px;
}

.form__label {
  color: rgba(51,51,51,.9);
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
}

textarea {
  resize: none;
  height: 75px;
  box-sizing: border-box;
}

input, 
select {
  height: 48px;
  box-sizing: border-box;
}

.form__input {
  background-color: #eff4fa;
  border: 1px solid rgba(19,147,246,.5);
  border-radius: 6px;
  color: inherit;
  display: block;
  font-size: 16px;
  font-style: normal;
  line-height: inherit;
  padding: 13px 11px;
  transition: box-shadow .18s , -webkit-box-shadow .18s;
  width: 100%;
  resize: none;
}

.form__input:hover {
  box-shadow: 0 0 1px 1px rgba(19,147,246,.5);
  outline: none;
}

.form__input--invalid {
  border-color: #b24141;
}

.form__helper-text {
  color: #b24141;
  display: inline-block;
  font-size: 12px;
}

.form__button {
  background-color: #1393f6;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  display: block;
  width: 100%;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  margin-top: 36px;
  padding: 17px;
  letter-spacing: .3px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transition: border-color .2s ease-in , box-shadow .2s ease-in , background-color .2s ease-in , color .3s ease , -webkit-box-shadow .2s ease-in;
}

.form__button:hover {
  background-color: #1272d5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.tabs {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 12px;
}

.tabs__option {
  flex-grow: 1;
  background-color: #E7E7E7;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 14px;
  border-bottom: 1px solid #E7E7E7;
  border-radius: 0 0 6px 6px;
  color: #999;
}

.tabs__option--selected {
  background-color: #FFF;
  color: #333;
}

.invisible {
  display: none;
}